
<html>
<head>
  <title>fluo bench</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <script src="/js/ruote-fluo.js?nocache=<%= Time.now.to_f %>"></script>
  <script src="/js/ruote-fluo-editor.js?nocache=<%= Time.now.to_f %>"></script>
  <script src="/js/fluo-dial.js?nocache=<%= Time.now.to_f %>"></script>

  <link href="/css/fluo-bench.css?nocache=<%= Time.now.to_f %>" rel="Stylesheet" type="text/css" />
  <link href="/css/fluo-dial.css?nocache=<%= Time.now.to_f %>" rel="Stylesheet" type="text/css" />
  <link href="/css/ruote-fluo-editor.css?nocache=<%= Time.now.to_f %>" rel="Stylesheet" type="text/css" />

  <script>
    // a debugging function...
    function dlog (text) {
      if ( ! text) text = '';
      document.body.appendChild(document.createElement('br'));
      document.body.appendChild(document.createTextNode(' -  ' + text));
    }
  </script>

</head>

<body>

  <script>
    function undo () {
      FluoEditor.undo('tred');
      return false;
    }
    function as (type) {
      document.getElementById('definition_out_type').value = type;
      document.getElementById('definition_input').value = FluoEditor.asJson('tred');
      document.getElementById('definition_form').submit();
      return false;
    }
    function toggleMinor () {
      Fluo.toggleMinor('fluo');
      Fluo.crop('fluo');
      return false;
    }
    function rotate () {
      Fluo.toggleVertical('fluo');
      Fluo.crop('fluo');
      return false;
    }
  </script>

  <div class="menubar">
    <div class="menubar_links" style="float: left;">
      <a class="menubar_link" href="/defs">defs</a>
      <a class="menubar_link" href="#" onclick="return undo();">undo</a>
      <a class="menubar_link" href="#" onclick="return as('xml');">as xml</a>
      <a class="menubar_link" href="#" onclick="return as('ruby');">as ruby</a>
      <a class="menubar_link" href="#" onclick="return as('json');">as json</a>
    </div>
    <div class="menubar_links" style="float: right;">
      <a class="menubar_link" href="#" onclick="return toggleMinor();">show/hide minor</a>
      <a class="menubar_link" href="#" onclick="return rotate();">rotate</a>
    </div>
  </div>

<div>

  <div style="float:left; width: 53%">

    <div id="tred" style="margin-left: 10px; margin-top: 10px;"></div>

    <script>

      var tred = document.getElementById('tred');

      FluoEditor.renderFlow(tred, <%= tree %>);

      tred.onChange = function (tree) {
        Fluo.renderFlow('fluo', tree);
        Fluo.crop('fluo');
      };
      tred.onOver = function (expid) {
        Fluo.highlight('fluo', expid);
      };
    </script>
  </div>

  <div id="leftpane" style="float:left; width: 45%">

    <canvas id="fluo" width="200" height="200"></canvas>

    <script>
      document.getElementById('fluo').noOuterBorder = true;
      Fluo.renderFlow('fluo', <%= tree %>, { 'workitems': [ '<%= wi %>' ] });
      Fluo.crop('fluo');
    </script>
  </div>

</div>

<form id="definition_form" action="/def" method="POST">
  <input id="definition_out_type" type="hidden" name="out_type" value="xml"></input>
  <input id="definition_input" type="hidden" name="definition"></input>
</form>


</body>
</html>

